<div class="testimonial_bundle card">
    <div class="testimonial">
        <div class="container">
            <div class="col-12">
                <p class="quote lead text-left mt-3">{{ content.field_testimonial_field_quote[0] }}</p>
            </div>
        </div>
        <div class="container text-left py-3">
            <div class="col-12">
                {% if true in content.field_testimonial_field_media[0] %}
                <div class="media">
                    {{ content.field_testimonial_field_media }}
                    <div class="media-body ml-3">
                        <h5 class="mt-0 mb-1 font-weight-bold">{{ content.field_testimonial_field_name[0] }}</h5>
                        <p class="font-weight-light">{{ content.field_testimonial_field_job[0] }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
